# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.svn-base
.svn/entries
.svn/format
*.db
*.db-journal
*.opendb
*.lastbuildstate
*.tlog
*.exp
*.iobj
*.ipdb
*.deps

#folders
.vs
GeneratedFiles
x64
*.swp
.gitignore~
